.main
    min-height: 150px
    &__wrapper
        margin-top: 15px
        display: flex
        flex-direction: column
        align-items: start
        padding: 0 10px 
    &__condition
        font-size: 22px
    &__degrees
        font-size: 60px
    &__options
        display: flex
        width: 110px
        justify-content: space-between
        margin-top: 8px
    &__min
        display: flex
    &__wet
        display: flex
    &__img
        height: 20px
        width: 20px







