.footer
    position: absolute
    bottom: 0px
    height: 21px
    padding: 5px 0
    
    background: rgba(0, 139, 139, 0.5)   
    &__wrapper
        padding: 0 10px
    &__items
        margin-top: 2px
        display: flex
        justify-content: center
        align-items: center
    &__item
       height: 15px
       width: 15px
       border-radius: 100%
       background-color: #A9A9A9
       margin: 0 8px
       border: 2px solid #696969

.active
    background-color: #fff


        

    